<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <InstallationFolder>TenantManagement</InstallationFolder>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold Reports On-Premise</WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>7zK1IA62UNd+VP2EUJ+3uzfjM9HTa12lARn8tn+P/oRUpY61cH38f1zhFA+6sY0NDG+nje+UDLrS0mLI+5NE9kz3S/T/X3HoCQ6jaVjA6jx454jefsePSYuGJ0IIbcOXF1ts0vv+vF5d0+6VOzmAJcE2HFIvR6cvY1Jh6ExkAnzBpDc0wjHy65PrilhsudCTbtqia/6MJ55brhlwCTgIeE9JC83BuKIT1LX8XDyosSpP0kQE/3AVuXXhshXr1jqIfZMUZbg48UTPuUOMgEi5cTr8HoHgznkkIZDvDudU1Bt2kAv4zPf1ABIhjFiONHeXjHjnnn0SqbI0bZTJVD83rbaHIolHwbbb9LFRFett0/cWawYPQRrvq9DGCkzjjvY5TtbFyRfog2rsSAQ6G9yWejZzHQRwSm+ruw/V4a/7GrZWQizH2/LHVqVF5BZhpTKJrocOlwvkphVmdnb6J2Vh1azYEoscS5HjdKJL9Ki2hSP8w27lsYm4DW3B1efLeqbafOU97f/3AbkP+pDDwAU+Q02YdTlHEfnUXR7rJ+6x4u1RysyURHaCniEtx1z1BpIBAWXlhsQouwrMxM1strgAM8w6xfX1LWzesoS/b4OH+MXPRsr+f6Mw+07UeLF+/WDlBoQz8PK4ZqexF3WT2jTaPRjS33tHE8WNtXjdfjwCdslufOlXVyhqRRU/BrcC2ULXpubw6yQBOAUf9VAESS75ZftNf4DvMZyG/Vj5YZ2AFR7NmfSLaHqjnklj5i25Iy8w</DRM>
  <InternalAppBIUrl>
  </InternalAppBIUrl>
  <InternalAppReportUrl>http://localhost:51508/reporting</InternalAppReportUrl>
  <InternalAppClientId>556fd472-cc8e-469a-a8e6-5ddae14c9784</InternalAppClientId>
  <InternalAppClientSecret>sHe6ZTyisCLUJ2wSRipdZ1GQLTkI1DJul+HENc6xd2cSQc/yjKF7Sn01dOR9EmN8nkKUO/xIK+2SehMAR2O34Q==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>