// Primary Variables

@primary-color: #0565FF;
@primary-text-color: #1B1E24;
@sub-text-color: #7C7C7C;
@validation-text-color: #A94442;
@success-text-color: #3c763d;
@selected-color: #E7F0FF;
@select-hover: #EEEEEE;

//font size
@primary-fontsize: 14px;
@secondary-fontsize: 12px;

// Icons
@icon-color: #4d4d4d;
@icon-hover-color: #1a1a1a;

// Login Page
@login-bg: #2D3138;
@placeholder-color: #aaa;
@border-color: #CCCCCC;
@login-font-color: #1B1E24;

//Grid Variables

@grid-header-bg: #FFF;
@grid-content-bg: @grid-header-bg;
@grid-footer-bg: @grid-header-bg;

@grid-border-color: @admin-pages-border-color;
@grid-hover-color: @select-hover;
@grid-active-color: @selected-color;
@grid-active-text-color: @primary-text-color;
@grid-active-icon-color: @primary-text-color;
@grid-header-color: @sub-text-color;
@grid-text-color: @primary-text-color;
@grid-link-color: @primary-color;

@item-name-color: #F9F9F9;
@item-panel-bg: #3A404B;
@item-panel-border-color: #555B63;
@item-search-color: #AAA;
@item-search-bg: #1B1E24;
@ItemSearchBorder: 1px solid #494F59;
@ItemColorOnSelect: #1B1E24;
@ItemFontStyle: Roboto Medium 12px;
@AuthorColor: #A7ADB1;
@AuthorColorOnSelect: #262A33;
@AuthorTextFontStyle: Roboto Regular 10px;
@item-select-bg: #A7ADB1;
@item-hover-bg: #454C56;
@item-count-bg: #A7ADB1;
@ItemCountFontStyle: Roboto Medium 10px;
@ad-icon-color: #848789;

//Main Menu Variables

@menu-bg: #F2F2F2;
@menu-active-bg: #E6E6E6;
@menu-item-height: 40px;
@menu-item-width: 40px;
@menu-icon-color: @icon-color;
@menu-hover-bg-color: #E6E6E6;
@menu-hover-color: #1a1a1a;
@menu-active-icon-color: #FFF;
@menu-new-active-icon-color: #0565FF;
@menu-label-color: #333333;

//Sub Menu

@menu-text-color: @primary-text-color;
@menu-hover-text-color: #E5E8EA;
@menu-active-text-color: @primary-color;

//Header Variables

@header-bg: #333842;
@header-bg-color: #efefef;
@header-active-bg: #0071BC;
@header-text-color: #EFEDED;
@HeaderFontStyle: Roboto Medium 14px;
@header-height: 40px;
@header-border-color: #B8B8B8;
@unread-notification-color: #FF3B30;
@bullhorn-height: 35px;

//Button Variables

@btn-min-width: 90px;
@btn-height-normal: 28px;
@btn-height-large: 34px;
@filter-btn-min-width: 75px;
@primary-btn-bg: @primary-color;
@primary-btn-border: #0450cc;
@primary-button-disabled: #F7F8F9;
@primary-btn-hover: #1882ff;
@primary-button-disabled: #F7F8F9;
@primary-btn-text-color: #FFF;
@primary-btn-disabled-bg: #f2f2f2;
@primary-btn-disabled-border: 1px solid #cccccc;
@secondary-btn-bg: #ffffff;
@secondary-btn-text-color: #333333;
@secondary-btn-border: #B3B3B3;
@secondary-btn-hover: #EEEEEE;
@danger-btn-bg: #FF3B30;
@danger-btn-hover: #FF4E45;
@link-btn-hover: #E2E2E2;
@submit-button-disabled: #F0F0F0;

// Link colors
@link-text-color: @primary-color;
@link-text-hover-color: #1882ff;

// Profile Dialog

@profile-btn-text-color: #333333;
@profile-border-color: #EEE;
@success-text-color: #3c763d;
@profile-info-width: 280px;
@profile-hover-color: #E2E2E2;
@profile-email-color: #808080;
@primary-btn-disabled-color: #999999;

// Admin Page

@admin-container-bg: #F9F9F9;
@admin-page-bg: #FFF;
@admin-body-border-color: #DCE1E5;
@admin-pages-border-color: #E2E2E2;
@description-text-color: #1B1C1C;

//Dialog Box

@dialog-header-bgcolor: #FFF;
@dialog-body-bgcolor: #FFF;
@dialog-footer-bgcolor: #F2F2F2;
@footer-border-color: #C4CED7;
@dialog-scroll-color: #C2C2C2;

//CSS Radio Button

@radio-bg: @primary-color;
@radio-border: @secondary-btn-border;
@radio-shadow: @primary-btn-text-color;
@radio-active: @primary-color;
@radio-active-border: @primary-btn-border;
//Dialog
@dialog-close-icon-color: #696969;

//Application Font Sizes

@label-font-size: 14px;
@info-font-size: 12px;
@validation-font-size: @info-font-size;

//Favorite icon color
@favorite-icon-color: #ffda88;

//Search area border
@search-border: #d3d3d3;

//Iframe content background
@content-background: #eaeaea;

//Dashboard hover
@dashboard-hover-color: #A7ACB0;
@dashboard-icon-color: #000000;

//Place holder
@placeholder-color: #a7a9ac;

//Schedule status icon color
@active-schedule-icon-color: #008000;
@completed-schedule-icon-color: #FFA500;
@inactive-schedule-icon-color: #FF0000;

//Notification variables
@notification-border-color: #356db5;
@notification-bg-color: #ef675c;
@notification: #ddd;

// Comments UserMention
@list-border-color: #ccc;
@list-bg-color: #fff;
@all-container-bg-color: #f5f5f5;
@all-container-border-color: @list-border-color;
@usermention-text-color: #3572b0;
@autocomplete-bg-color: #eee;
@autocomplete-border-color: #ddd;
@autocomplete-trigger-bg: @autocomplete-border-color;
@unwatch-bg-color: #F8DB5A;
@watch-bg-color: #D2D2D2;
@heading-color: #666060;
@heading-outline: #d1d3d4;
@post-bg-color: #3a99fb;
@reply-color: #888;
@reply-border: #D6D6D6;
@comment-scroller-bg: #838383;


//focus style
@focus: #66AFE9;
@shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);

// Dashboard Viewer page
@navbar-border-color: #D9D9D9;
@navbar-active-border-color: #E7E7E7;
@navbar-active-icon-color: #3782E3;
@dashboard-icon-color: #6d6e70;
@dashboard-icon-hover-color: #3f3f3f;

//Dashboard Views
@poup-close-hover-color: #337ab7;
@recipients-bg-color: #eeeeee;
@recipients-border-color: #ababab;
@share-items-bg-color: #ffffff;
@waitpopup-bg-color: #f5f5f5;
@share-title-border-color: #ccc;
@footer-bg-color: #e2e2e2;
@footer-border-color: #e5e5e5;
@search-key-border-color: #e4e4e4;
@heading-color: #1b1c1c;
@folder-manage-tab-color: #7f7f7f;
@folder-tab-color: #FF712F;
@search-bg-color: #FFF;
@select-border-color: @share-title-border-color;
@inactive-border-box-color: #A94442;
@footer-border-top: #bbb;
@search-schedule-bg-color: #f4f4f4;
@add-background-border-color: @search-key-border-color;
@delete-icon-color: #333;

//Homepages
@ejwaiting-popup-bg: #383838;

//Custom Expression Editor
@clear-expression-color: #cd5c5c;
@label-color: #6495ed;
@list-hover-color: #009aef;
@button-background-color: #9acd32;
@button-text-color: #fff;
@popup-close-icon-color: #000;
@background-color: #f7f7f7;
@overlay-color: #808080;

//LicenseSettings
@supported-plan: #008000;
@unsupported-plan: #FF0000;
@plan-color: #FFF;
@feature-plan-border: #d3d3d3;
@basic-plan: #ADD8E6;
@advance-plan: #FFA500;
@pro-plan: #008000;
@premium-plan: #800080;
@cancel-subscription: #FF0000;
@upgrade-plan: #A7ADB1;
@secondary-btn-border-color: #b3b3b3;
@subscription-btn-hover: #50b754;
@subscription-background: #4CAF50;
@upgrade-planname-font: 18px;
@upgrading-planprice-font: 28px;
@subscription-message-font: 12px;

//Fluent Popup
@popup-header-bg: #f9f9f9;
@popup-footer-bg: @popup-header-bg;
@popup-header-border: #E5E5E5;
@popip-footer-border: @popup-header-border;

//support
@support-open-color: #40C5A6;
@support-close-color: #EF606F;
@supports-id-color: #898989;

//OnBoardExperience
@journey-label-strike-color: #68CB9B;
@journey-label-color: #333;
@journey-bg-color: #36B047;
@journey-title-color: #ffffff;
@journey-step-color: #888;
@journey-inactive-color: #fafafa;

//Create Dashboard
@popup-header-text-color: #333333;
@popup-body-color: #efefef;
@template-dashboard-image-border: #D1D1D1;
@template-dashboard-description-txt-color: #363636;
@highlight-list-item: #0565FF;


//Dashboard Listing new UX
@scroller-bg: #B3B3B3;
@right-sidebar-width: 230px;
@dashboard-border-color: #e6e6e6;
@dashboard-separator-color: #cbcbcb;
@dashboard-list-bg-color: #f4f4f4;
@category-list-bg-color: #fbfbfb;
@dashboard-light-text-color: #8c8c8c;
@dashboard-highlight-text-color: #0565ff;
@dashboard-primary-text-color: #333;
@dashboard-secondary-text-color: #808080;
@dashboard-tile-bg-color: #ffffff;
@hover-bg-color: #efefef;
@favorite-icon-color: #ff9503;
@unfavorite-icon-color: #4d4d4d;
@highlight-list-item: #0565FF;
@dashboard-scroller-color: @scroller-bg;
@dashboard-search-bg-color: #EEEEEE;
@dashboard-color-white: white;
@dashboard-button-border-color: #0450cc;
@tooltip-label-color: #c2c2c2;
@dashboard-count-color: #9f9f9f;
@dashboard-tile-border-color: #e9e9e9;
@dashboard-icon-hover-bg-color: #eeeeee;
@dashboard-icon-pressed-bg-color: #cccccc;

//Home
@home-container-bg: #F9F9F9;
@home-page-bg: #FFFFFF;
@home-widget-width: 297px;
@home-widget-height: 142px;
@home-widget-lg-width: 296px;
@home-link-color: #007AFF;
@home-light-header-color: #666666;
@home-border: 1px solid #EEEEEE;
@home-items-color: #333333;
@home-owner-color: #808080;
@home-icon-size: 8px;
@home-icon-lg-size: 12px;
@home-title-font-size: 18px;
@home-header-font-size: 16px;
@home-sub-header-font-size: 14px;
@home-sub-header2-font-size: 13px;
@home-normal-font-size: 12px;
@home-small-font-size: 10px;
@home-primary-color: @primary-color;
//Subscription
@subscription-horizontal-border: #C8C8C8;
@subscription-buy-additional-storage-option: #0162FF;
@additional-storage-font-color: #333333;
@additional-storage-border-color: #E6E6E6;
@additional-storage-table-bg-color: #FBFBFB;
@success-message-bg-color: #e5ffed;

//Disable-Material-Switch
@disable-material-switch: #E2E2E2;

//Warning colors
@warning-icon-yellow: #FFC000;

//dropdown
@dropdown-hover: @select-hover;
@dropdown-selected: @selected-color;
@dropdown-selected-text: @primary-text-color;

//Check box
@checkbox-bg: white;

//Modal dialog
@dialog-footer-bg-color: #F9F9F9;
@dialog-border-color: #E6E6E6;

//Share Permission Dialog
@share-font-color: #333333;
@share-access-mode-bg-color: #f9f9f9;
@share-icon-color: #4D4D4D;
@share-description-color: #808080;
@share-input-bg-color: @dialog-footer-bgcolor;
@share-input-disable-input: #bab9b9;
@share-ej-optio-bg-color: #E9ECEF;
@share-dialog-check-mark-color: #0b69ff;
@share-listing-border-color: #f5f0f0;
@share-change-indicator-color: #FFC38B;
@share-change-indicator-banner-color: #0B0B0B;

//DateTimePicker and NumericSpinButton
@datetimepicker-current-month-color: #2b2b2b;
@datetimepicker-border-color: @border-color;
@datetimepicker-headertext-hover-color: @dropdown-hover;
@datetimepicker-active-color: @selected-color;
@datetimepicker-inactive-color: @primary-btn-disabled-color;
@datetimepicker-hover-color: @footer-border-color;
@datetimepicker-timecontainer-text-color: @primary-text-color;
@datetimepicker-timecontainer-bg-color: @selected-color;
@datetimepicker-timecontainer-border-color: @subscription-horizontal-border;

//embedCode
@embed-code-copy-bg: #f9f9f9;
@embed-code-copy-border: #d7d7d7;

//Item Creation Menu
@create-item-menu-bg: #FFFFFF;
@create-item-list-bg: #f0f6ff;
@create-item-list-border: #79adff;
@create-item-menu-hover-border: #0162ff;
@create-item-description: #5d5d5d;
@create-item-menu-backdrop: #a5aab5;
@input-invalid-error: #a94442;

