<style>
    #license-validation {
        position: absolute;
        left: 0px;
        background: #e82824;
        color: #fff !important;
        height: auto;
        font-size: 16px !important;
        line-height: 45px;
        opacity: .75;
        text-align: center;
        z-index: 9999;
        margin-right: 26px;
        width: 100%;
    }

    .license-validation-message{
        float: left;
        width: 95%;
    }

    .license-validation-message-close-icon {
        cursor: pointer;
        float: right;
        width: 5%;
    }
</style>
<div id="license-validation">
    <div class="license-validation-message">
        @GlobalAppSettings.LicenseValidationMessage
    </div>
    <div class="license-validation-message-close-icon" onclick="closeLicenseValidationMessage()">
        <span title="Close" class="su su-close"></span>
    </div>
</div>