@{
    var globalAppSettings = _globalAppSettings;
    var designerToken = ViewBag.AccessToken;
}
<script>
    let updateURL = "@Url.Action("Update", "DataSources")";
</script>
<div class="cd-connector-container" ng-controller="connectorCtrl">
    <div class="dc-container">
        <div class="dc-scroller-container rs-scroller">
            <div class="dc-scroller">
                <div class="dc-header"></div>
                <div class="dc-description"></div>
                <div class="dc-config-container">
                    <div class="dc-config">
                        @{
                            string serviceURL = ServerAppConfig.InternalAppDataServiceUrl.TrimEnd('/') + "/api/Designer";
                            string reportServerApiUrl = new ReportServerApiEndPoints(globalAppSettings).ReportServerApiUrl();
                            string isAzureApplication = ServerAppConfig.IsAzureApplication.ToString().ToLower();
                        }
                        <div class="data-designer-container">
                            <div id="dataDesigner" boldReportDesigner e-serviceUrl="@serviceURL" e-reportServerUrl="@reportServerApiUrl" e-isAzureApp=@isAzureApplication e-reportDataExtensions="reportDataExtensions" e-create="onDesignerCreate" e-serviceAuthorizationToken="@designerToken">
                                <div class="dataContainer e-reportdesigner-designer-configuration"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @{ Html.RenderPartial("~/Views/DataSources/UpdateDataSource/_Footer.cshtml"); }
</div>