<div class="ud-footer-container" ng-controller="connectDataFooterCtrl">
    <button type="button" class="ud-footer-update-btn primary-button app-btn-primary" ng-click="onUpdateBtnClick()">Update</button>
</div>