<div class="ud-header-container" ng-controller="connectDataHeaderCtrl">
    <div class="ud-header">Update Data Source</div>
    <div ng-click="onCloseBtnClick($event)" class="ud-header-close-btn"></div>
</div>