$primary-font: 'RobotoRegular';
$secondary-font: 'RobotoRegular';
//$default-page-header: 'Bitter'; for cloud

$default-page-header: 'RobotoRegular';

$app-text-size: ( 
sm: 12px,
md: 12px,
lg: 12px
);

$validation-text-size: 10px;

$letter-spacing-normal: 0.3px;

$nav-menu-icon-size: 18px;

$nav-menu-text-size: 10px;