@{
    var totalTour = 7;
}

<script>
    var TotalTour = @totalTour;
</script>

<div id="tour-container" style="display: none">
    <div id="tour-div-1">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Connect]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Connect to your data available online.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">7/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="end-nav">[[[START]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-2">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Visualize]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Drag and drop suitable widgets for better illustration.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">1/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-3">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Configure]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Configure the widgets with appropriate data views.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">6/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-5">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Preview]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Preview the created report.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">3/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-6">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Publish]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Publish the report to share with others.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">2/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-7">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Parameter]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Configure the parameter to filter your report data.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">4/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>

    <div id="tour-div-8">
        <div class="server-tour-container">
            <div class="server-tour-title">
                <span class="title-text text-h4 text-semibold">[[[Image Manager]]]</span>
                <span class="su su-close"></span>
            </div>
            <div class="server-tour-body text-body">
                <div class="tour-description-div">
                    [[[Image manager configuration to add and edit the report images.]]]
                </div>
            </div>
            <div class="tour-footer col-xs-12 no-padding">
                <div class="tour-page text-small col-xs-6 no-padding">5/@totalTour</div>
                <div class="tour-navigation-div text-button col-xs-6 no-padding">
                    <span class="prev-nav">[[[PREV]]]</span>
                    <span class="next-nav">[[[NEXT]]]</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="backdropFallback" class="tour-backdrop "></div>
