<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OrganizationName>Bold Reports On-Premise</OrganizationName>
  <InstallationFolder>BoldReports</InstallationFolder>
  <WelcomeNoteText>Welcome to Bold Reports On-Premise</WelcomeNoteText>
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved</CopyrightInformation>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <DRM>+DIIcHOIyxCWcPT8y5l51T/PjD1v3z9A2fP3X2UBHJStyeVwGdqmSWgGuv5u5WPYX2EYwnVjx2ntWSoeCaTO8+H8KKaljPZd6EVsO44jPRzlIf+mPH60nwzZSUG+BKaPKioPljAyyeTORPVIw+Qe/8etgIWL6mefi5U8EqtDSjf5CawCXSIX5B5+YVC+MDsZpTZ69GQWrxN6KYbZzZkIHsbsEiWrA5l5OdfTLK6IhhxU98uoPMVlANzj0Oi76kaTlAoARt7HpRQ4yawI2mz+GNeK9KOyX3bQ//2SE3N82jkCWZ8o3rib5at6u00NAWCZmUqw22sb1Q/+7CJVLLw47Es0A+zuFhFyciqkEdbKPJuOmR0C8yhV5GPnfj2l7itZZb6P+9nUQpLFQc/9jBOh4NFdPr+QQa7DeCRiKnSgnVlugptr3UPuoCOG6DFKFxHp7IoD1d7UekkBGUfSql+CzGE3Bm8kLd/w96RD9MzYn9dQ+2sRpfUekpRfZUEYlj5FTwm7y5hoVG38cy3ijV+pGJamt2sZSC0UVaM8sTuCZ9h2MZmK7TfuPGGSPwBn0helcT6+zgEgZ0iiJ5tfr2z5OqV70auQrlWahgRSy3hpYHM0/iDtsHDfkXbYb7+j55GdmSHWZ3qFcujkP9f5RIi5f8CI32PYAq1AcJgX5rVcAV0LjCXpittPm+yKZ3sLjJ4nd0xZ2QgNyGTf1axuddB4QTxtl2H2yXGNO6q8S/Cs0m/83GBtN7SVW0Iq1rXWr1/I</DRM>
  <InternalAppDataServiceUrl>http://localhost:49183/reporting/reportservice</InternalAppDataServiceUrl>
  <InternalAppIdpUrl>http://localhost:49183/</InternalAppIdpUrl>
  <InternalAppClientId>d3bd8b48-78f4-4d46-8d5e-3e64c7bac417</InternalAppClientId>
  <InternalAppClientSecret>zpmXyTBuLhQ23h5RAFI9QNJEdObbw0WjKOqFfgRVzD/nyH7dYBhHkTQ+3e5cf6MuTtoyne6Pd1kpMGR6XsY83g==</InternalAppClientSecret>
  <IdaTenant>
  </IdaTenant>
  <IdaAudience>
  </IdaAudience>
</SystemSettings>