<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <OrganizationName>Bold Reports Enterprise Reporting</OrganizationName>
  <InstallationFolder>BoldReports</InstallationFolder>
  <WelcomeNoteText>Welcome to Bold Reports Enterprise Reporting</WelcomeNoteText>
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved</CopyrightInformation>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <DRM>AHNWrDNsYm0ycjG+MoAwkOOsf/sEly+fF11ATUC7rNlWJ+nde1f6r+5hBR1IGEiz8YDBTnc/KXGSFZUPv5wzRPK/myT9cpK39R/5EvH0kAaZXNzla2IS21/hN3uzfcKSg8TfKdY0+AXIlmC/o44sdvS30xPxj83Hhz27ncmZYLxeSG4PTVkRIug/oRrc71Wlm6F3h79W1Lq1eVk7u98BDhlsQLq7Kc9GWrstRUXotDo8MS98Uz7eIc16u3+5REubfdmLSpDkpwdMKVQJamCQL1yOeBj3sVtxUN0RwXlMPBG34/t6vD+u1AWkj6wMo7/r6RVzeDjmmPcCexZhqWbb8g0yaof/P1xG1m4LRUkyRvJw3Mge4w2iveInsZY5Jc9HMZJ14V5nwYWjpLBUn/PDN45l46sZ8n+VhT+12gGKPNQLFZHWlpy5cDUIKRukXs47GT5LXkeWi/OPlZiVkiBBUNlWN1KmAd9Asc1l4SdJye6Ugk8oZNv/Y8SMQ5haL1NeRT0u9QsKbi/BDmq5RwrS3x3nCpmC/42goXC0vWQbsN+1CehTuMVDqf/vnELW/5ttBUQUainhLv5If2s8ioFF4+gjQ3qBJ9A4v6xRBbxZVynh1AluQswceurrvPltUn5YHwr+tUsaV0nu1bU0GLcEv6G8Mo41EXKHxl0rMNaYPndG8EY7L4N6z1KT9BHjLrLgrASf44D/a3YvLYARdyf9zy4FUUqC8ehMO+6JEI5rhR991/xh/pYkIMCHycy8gMWujFCTvbV+QxnPk4yqJHjqIA==</DRM>
  <InternalAppDataServiceUrl></InternalAppDataServiceUrl>
  <InternalAppIdpUrl></InternalAppIdpUrl>
  <InternalAppClientId>e82e11bd-1dee-4ff1-bc73-62f0a370db26</InternalAppClientId>
  <InternalAppClientSecret>PlzNGT79BzHBihwBvuEDJgDfAob5EmeboTtfUuoOOnGQRUPoytxKyWBdSeDTveFmTYwG5nz2jYtbDXXnPNJP5g==</InternalAppClientSecret>
  <IdaTenant>
  </IdaTenant>
  <IdaAudience>
  </IdaAudience>
</SystemSettings>