:root {
	--boldbi-brand-normal-color: var(--boldbi-brand);
	--primary-branding-color: var(--blue);
	--primary-branding-border-color: var(--primary-500);
	--primary-text-normal-color: var(--primary-black);
	--primary-text-hover-color: var(--blue);
	--secondary-text-normal-color: var(--grey-700);
	--hyper-link-normal-color: var(--blue);
	--hyper-link-hover-color: var(--blue-secondary);
	--primary-btn-bg-normal-color: var(--primary-500);
	--primary-btn-bg-hover-color: var(--primary-400);
	--primary-btn-bg-disable-color: var(--grey-200);
	--primary-btn-border-normal-color: var(--primary-500);
	--primary-btn-border-disable-color: var(--grey-400);
	--primary-btn-text-normal-color: var(--grey-white);
	--primary-btn-text-hover-color: var(--grey-white);
	--primary-btn-text-disable-color: var(--grey-500);
	--secondary-btn-bg-normal-color: var(--secondary);
	--secondary-btn-bg-hover-color: var(--grey-500);
	--secondary-btn-bg-disable-color: var(--grey-200);
	--secondary-btn-border-normal-color: var(--secondary);
	--secondary-btn-border-disable-color: var(--grey-400);
	--secondary-btn-text-normal-color: var(--primary-black);
	--secondary-btn-text-hover-color: var(--primary-black);
	--secondary-btn-text-disable-color: var(--grey-500);
	--link-btn-bg-normal-color: var(--background);
	--link-btn-bg-hover-color: var(--primary-500);
	--link-btn-text-normal-color: var(--primary-500);
	--link-btn-text-hover-color: var(--grey-white);
	--link-btn-border-normal-color: var(--primary-500);
	--link-btn-border-hover-color: var(--primary-500);
	--hover-bg-normal-color: var(--grey-200);
	--active-bg-normal-color: var(--grey-300);
	--active-text-normal-color: var(--grey-white);
	--nav-menu-main-color: var(--blue);
	--nav-menu-bg-normal-color: var(--grey-200);
	--nav-menu-bg-hover-color: var(--grey-300);
	--nav-menu-bg-active-color: var(--grey-300);
	--nav-menu-pri-text-normal-color: var(--primary-black);
	--nav-menu-pri-text-hover-color: var(--primary-black);
	--nav-menu-pri-text-active-color: var(--grey-white);
	--nav-item-menu-section-bg-color: var(--blue-lighten);
	--nav-item-menu-bg-color: var(--white);
	--nav-item-menu-bg-hover-color: var(--white);
	--nav-item-menu-border-hover-color: var(--blue);
	--nav-item-menu-separator-color: var(--blue);
	--nav-item-menu-plus-icon-color: var(--primary-black);
	--nav-item-menu-icon-border-color: var(--create-item-icon-border-normal);
	--nav-menu-sec-text-normal-color: var(--grey-700);
	--nav-menu-sec-text-hover-color: var(--grey-700);
	--nav-menu-sec-text-active-color: var(--grey-white);
	--nav-menu-content-text-normal-color: var(--grey-800);
	--nav-menu-content-text-hover-color: var(--grey-800);
	--nav-menu-content-text-active-color: var(--grey-800);
	--nav-menu-hyper-link-normal-color: var(--blue);
	--nav-menu-hyper-link-hover-color: var(--darken-primary-color-blue-10);
	--nav-notification-icon-bg-hover-color: var(--icon-bg-hover-color);
	--nav-notification-icon-text-normal-color: var(--icon-text-normal-color);
	--nav-notification-icon-text-hover-color: var(--icon-text-hover-color);
	--nav-notification-icon-text-hover-color: var(--icon-text-hover-color);
}
