@{
    var globalAppSettings = _globalAppSettings;
    var CreateAccess = ViewBag.CreateAccess != null ? ViewBag.CreateAccess : false;
}
<script>
    let createDatasource = "@Url.Action("CreateDataSource", "DataSources")";
</script>
<div class="cds-card-container" ng-controller="DataSetCardCtrl">
    <div class="cds-card-items">
        @if (CreateAccess)
        {
            <div class="cds-card" ng-click="onCreateDataSourceClick()">
                <div class="cds-card-left-container">
                    <div class="cds-card-img-container">
                        <img class="cds-card-img" alt="Create Data Source" src="@(globalAppSettings.SystemSettings.CDNLink.TrimEnd('/') + "/cdn/images/static/dataset/create-datasource.svg")">
                    </div>
                    <div class="cds-card-details-container">
                        <div class="cds-card-name">Create New DataSource</div>
                        <div class="cds-card-desc">Create DataSet by creating a new DataSource</div>
                    </div>
                </div>
                <div class="cds-card-navigate-icon"></div>
            </div>
        }

        <div class="cds-card" ng-click="onExistingDataSourceClick()">
            <div class="cds-card-left-container">
                <div class="cds-card-img-container">
                    <img class="cds-card-img" alt="Create Data Source" src="@(globalAppSettings.SystemSettings.CDNLink.TrimEnd('/') + "/cdn/images/static/dataset/existing-datasource.svg")">
                </div>
                <div class="cds-card-details-container">
                    <div class="cds-card-name">Use Existing DataSource</div>
                    <div class="cds-card-desc">Create DataSet by using a existing DataSource</div>
                </div>
            </div>
            <div class="cds-card-navigate-icon"></div>
        </div>
    </div>
</div>
