/*----------------Configuration Tile styles----------------------*/
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-connection-mode-content-container,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-connection-mode-content-wrap.e-connection-configuration-content-container {
    background-color: #fff;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap {
    background-color: #fff;
    border-color: #cccccc;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap.e-con-select {
    border-color: #0162ff;       
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap .e-con-tile-configure-btn {
    color: #0162ff;
    background-color: #fff;
    border-color: #0162ff;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap .e-con-tile-configure-btn:hover {
    background-color: #f0f6ff;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-con-tile-header-wrap {
    color: #333333;
    background-color: #eeeeee;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-rpt-service-tile-wrap:hover {
    border-color: #cccccc;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header {
    color: #333333;
    background-color: #fff;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container {
    border-color: #808080;
}

/*-----connection header ej2-check-box-intermediate style override----*/

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-checkbox-wrapper .e-frame.e-stop, .e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-css.e-checkbox-wrapper .e-frame.e-stop {
    background-color: #0565ff;
    border-color: #0450cc;
    color: #ffffff;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-checkbox-wrapper .e-frame,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-css.e-checkbox-wrapper .e-frame {
    background-color: #ffffff;
    border-color: #b3b3b3;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-checkbox-wrapper .e-frame.e-check,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-css.e-checkbox-wrapper .e-frame.e-check {
    background: #0565FF;
    border-color: #0450cc;
    color: #fff;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap.e-con-select:hover {
    border-color: #0162ff;
}
/*---------Tile style end-----------------*/
/************************Data Connectors**************************************/

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-connection-mode-header {
    border-bottom: 1px solid #dedede;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-tile-select-btn {
    background-color: #0162ff;
    color: #fff;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap {
    border: solid 1px #dedede;
    background: #fff;
    transition: border 500ms linear;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap:hover {
    border: solid 1px #0162ff;
    -webkit-transition: border 500ms linear;
    -moz-transition: border 500ms linear;
    -ms-transition: border 500ms linear;
    transition: border 500ms linear;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-designer-datasource-category-container,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-designer-datasource-search-container {
    background-color: #fff;
}
/********************************************************************************/

/************************Toggle Button*********************************/
.e-dataconnector-slider {
    background-color: #ccc;
}

.e-dataconnector-slider:before {
    background-color: white;
}

input:checked + .e-dataconnector-slider {
    background-color: #0565ff;
}