/*----------------Connection-configuration-------------*/
.e-datatileconfiguration {
    overflow: auto;
}

.e-datatileconfiguration .e-rpt-connection-mode-content-container {
    margin: 0px;
    width: 100%;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap {
    width: 210px;
    height: 110px;
    border-radius: 4px;
    border: solid 1px;
    box-sizing: border-box;
    transition: unset;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container {
    margin: 12px 0px;
}

.e-datatileconfiguration .e-connection-configuration-container {
    width: 100%;
    height: 100%;
    min-width: 800px;
    min-height: 400px;
    box-sizing: border-box;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-content-container {
    padding: 0px 42px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-rpt-service-tile-wrap:hover {
    border: 1px solid;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap.e-con-select {
    outline: 0px;
    box-shadow: 0 0 0 1px #0162ff;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap .e-rpt-connection-img-tile,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap:hover > .e-rpt-tile-icon-wrap {
    height: 100%;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap .e-rpt-connection-custom-img-tile,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap:hover > .e-rpt-tile-icon-wrap {
    height: 50%;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap .e-con-tile-configure-btn {
    width: 180px;
    height: 32px;
    margin: 0px 15px 10px 15px;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    box-sizing: border-box;
    border: solid 1px;
    display: none;
    cursor: pointer;
}

.e-con-tile-configure-btn,
.e-con-tile-header-wrap,
.e-rpt-tile-container-title,
.e-connection-configuration-header,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-text {
    font-family: var(--font-family, RobotoRegular) !important;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-con-switch-btn {
    width: 34px;
    height: 20px;
    float: right;
    margin: 6px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-con-switch-btn .e-config-switch-btn {
    width: 100%;
    height: 100%;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-con-tile-header-wrap {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.4px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection {
    display: flex;
}

 .e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-text {
    margin: 0px 12px;
    font-weight: normal;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox {
    margin: 0px 4px 0px 12px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-text-wrap {
    padding: 0px 10px;
    box-sizing: border-box;
    width: calc(100% - 310px);
    cursor: pointer;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-rpt-tile-container-title {
    line-height: 40px;
    font-weight: bold;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-category-icon {
    width: 8px;
    height: 9px;
    margin: 11px 12px;
    cursor: pointer;
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-category-icon-wrap {
    margin-left: 5px;
    margin-right: 10px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-category-icon.e-tile-container-expand {
    margin-top: 14px !important;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-category-icon.e-tile-container-collapse {
    margin-top: 19px !important;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.e-datatileconfiguration .e-connection-configuration-container .e-rpt-tile-container {
    padding: 0px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-config-selection-count {
    font-weight: bold;
}

.e-datatileconfiguration .e-connection-configuration-container .e-rpt-tile-container {
    -webkit-transition: max-height .7s;
    -moz-transition: max-height .7s;
    -ms-transition: max-height .7s;
    -o-transition: max-height .7s;
    overflow: hidden;
    transition: max-height .7s;
    transition-timing-function: ease-in-out;
}

.e-datatileconfiguration .e-connection-configuration-container .e-tile-container-collapse .e-rpt-tile-container {
    max-height: 0px !important;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-wrap {
    margin: 0px 22px;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header {
    width: 100%;
    height: auto;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.26px;
    box-sizing: border-box;
    padding: 0px 42px 24px 42px;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box {
    padding-top: 24px;
    display: inline-block;
    width: 100%;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap {
    width: 280px;
    height: 24px;
    line-height: 24px;
    float: right;
}

.e-datatileconfiguration .e-connection-configuration-container .e-rpt-tile-container .e-rpt-designer-datasource-search-no-data {
    text-align: left;
    width: 100%;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container,
.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container,
.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container .e-autocomplete,
.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container .e-rpt-designer-icon.e-rpt-designer-search,
.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container .e-rpt-designer-icon.e-rpt-designer-close {
    height: inherit;
    line-height: inherit;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container {
    margin: 0px;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container {
    box-sizing: unset;
    border: 1px solid;
    border-radius: 4px;
}

.e-datatileconfiguration .e-connection-configuration-container .e-connection-configuration-header .e-con-header-search-box .e-con-search-wrap .e-rpt-designer-datasource-category-container .e-rpt-designer-datasource-search-container .e-autocomplete {
    border-radius: 4px;
    font-size: 12px;
}
/*-----connection header ej-check-box-intermediate style override----*/
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-text {
    font-size: 13px;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    user-select: none;
    vertical-align: middle;
    white-space: normal;
    line-height: 3 !important;
    white-space: nowrap;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-icon.e-stop {
    background-color: #0565ff;
    border-color: #0450cc;
    color: #fff;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap div > span.e-chk-indeter {
    border-color: #0450cc;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-chkbox-small .e-checkmark {
    font-size: 16px;
    line-height: 18px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-chk-act,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-chk-indeter,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-chk-inact {
    border-radius: 2px !important;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-chkbox-small > span {
    top: 11px !important;
    height: 17px !important;
    width: 17px !important;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-chkbox-small .e-chk-image.e-stop:before {
    font-size: 37px;
    margin-top: -6.5px;
    text-indent: 2px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-tile-category-container .e-con-tile-header-wrap .e-category-selection .e-con-selection-chkbox .e-chkbox-wrap .e-chkbox-small .e-icon.e-stop:before {
    content: '-';
}
/*---------Tile style end-----------------*/
/************************Data Connectors*************************************/
.e-reportdesigner.e-rpt-designer-mode-connection .e-rpt-connection-mode-dlg {
    min-width: 700px;
}

.e-datatileconfiguration .e-rpt-connection-mode-content-container {
    width: 100%;
    margin: 0 auto;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container {
    display: flex;
    flex-flow: wrap;
    padding: 9px 0px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-service-tile-wrap {
    width: 210px;
    height: 90px;
    border-radius: 4px;
    margin: 12px;
    position: relative;
}

.e-datatileconfiguration .e-rpt-tile-container .e-rpt-service-tile-wrap:hover > .e-rpt-tile-icon-wrap {
    height: calc(100% - 23px);
    -webkit-transition: height 200ms;
    -moz-transition: height 200ms;
    -ms-transition: height 200ms;
    transition: height 200ms;
}

.e-datatileconfiguration .e-rpt-tile-container .e-rpt-service-tile-wrap:hover > .e-rpt-tile-icon-wrap.e-rpt-safari-compatability {
    height: 74%;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-tile-container-title {
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.4px;
    width: 100%;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-tile-container .e-rpt-tile-container-title {
    font-style: normal;
    font-stretch: normal;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-connection-mode-content-container .e-rpt-connector-header-container,
.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-connection-mode-content-container .e-rpt-tile-container .e-rpt-tile-container-title {
    padding-left: 12px;
    box-sizing: border-box;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-designer-datasource-search-container {
    height: 28px;
    width: 300px;
    float: left;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-designer-datasource-category-container {
    width: auto;
    margin-right: 24px;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-category-search-wrap .e-rpt-designer-search-box {
    font-size: 13px;
    height: 100%;
}

.e-datatileconfiguration .e-rpt-connection-mode-dlg .e-rpt-category-search-wrap .e-rpt-designer-search {
    height: 28px;
    line-height: 28px;
}

.e-reportdesigner-datasource-sql-tile {
    background: url('../bootstrap-theme/images/datasource/microsoftsqlserver.png') no-repeat;
}

.e-reportdesigner-datasource-oracle-tile {
    background: url('../bootstrap-theme/images/datasource/oracle.png') no-repeat;
}

.e-reportdesigner-datasource-odbc-tile {
    background: url('../bootstrap-theme/images/datasource/odbc.png') no-repeat;
}

.e-reportdesigner-datasource-webapi-tile {
    background: url('../bootstrap-theme/images/datasource/web.png') no-repeat;
}

.e-reportdesigner-datasource-odata-tile {
    background: url('../bootstrap-theme/images/datasource/o-data.png') no-repeat;
}

.e-reportdesigner-datasource-oledb-tile {
    background: url('../bootstrap-theme/images/datasource/oledb.png') no-repeat;
}

.e-reportdesigner-datasource-json-tile {
    background: url('../bootstrap-theme/images/datasource/json.png') no-repeat;
}

.e-reportdesigner-datasource-xml-tile {
    background: url('../bootstrap-theme/images/datasource/xml.png') no-repeat;
}

.e-reportdesigner-datasource-postgresql-tile {
    background: url('../bootstrap-theme/images/datasource/postgresql.png') no-repeat;
}

.e-reportdesigner-datasource-mysql-tile {
    background: url('../bootstrap-theme/images/datasource/mysql.png') no-repeat;
}

.e-reportdesigner-datasource-mariadb-tile {
    background: url('../bootstrap-theme/images/datasource/mariadb.png') no-repeat;
}

.e-reportdesigner-datasource-memsql-tile {
    background: url('../bootstrap-theme/images/datasource/memsql.png') no-repeat;
}

.e-reportdesigner-datasource-csv-tile {
    background: url('../bootstrap-theme/images/datasource/csv.png') no-repeat;
}

.e-reportdesigner-datasource-excel-tile {
    background: url('../bootstrap-theme/images/datasource/excel.png') no-repeat;
}

.e-reportdesigner-datasource-azuresqldw-tile {
    background: url('../bootstrap-theme/images/datasource/azuresqldatawarehouse.png') no-repeat;
}

.e-reportdesigner-datasource-cdata-tile {
    background: url('../bootstrap-theme/images/datasource/cdata.png') no-repeat;
}

.e-reportdesigner-datasource-amazon-aurora-tile {
    background: url('../bootstrap-theme/images/datasource/amazonaurora.png') no-repeat;
}

.e-reportdesigner-datasource-snowflake-tile {
    background: url('../bootstrap-theme/images/datasource/snowflake.png') no-repeat;
}

.e-reportdesigner-datasource-oauth-google-bigquery-tile {
    background: url('../bootstrap-theme/images/datasource/bigquery.png') no-repeat;
}

.e-reportdesigner-datasource-ssas-tile {
    background: url('../bootstrap-theme/images/datasource/ssas.png') no-repeat;
}

.e-datatileconfiguration .e-rpt-connection-img-tile {
    width: 100%;
    height: 100%;
    background-position: center;
    box-sizing: border-box;
    background-size: contain;
    -webkit-transition: height 200ms;
    -moz-transition: height 200ms;
    -ms-transition: height 200ms;
    transition: height 200ms;
}

/*---------------------Switch Button----------------*/

.e-datatileconfiguration .e-switch-wrapper .e-switch-inner.e-switch-active,
.e-datatileconfiguration .e-css.e-switch-wrapper .e-switch-inner.e-switch-active {
    background-color: #0565FF;
    border-color: #0565FF;
}

.e-datatileconfiguration .e-switch-wrapper:hover .e-switch-inner.e-switch-active .e-switch-on,
.e-datatileconfiguration .e-css.e-switch-wrapper:hover .e-switch-inner.e-switch-active .e-switch-on {
    background-color: #1882ff;
}

/******************************************************************************************/
/****************************Check Box***********************************/
.e-datatileconfiguration .e-rpt-check-box-wrapper .e-chkbox-wrap .e-chkbox-small .e-chk-act {
    border-color: #004cc7 !important;
    background-color: #0565ff !important;
}

.e-datatileconfiguration .e-chkbox-wrap .e-chk-image.e-stop, .e-chkbox-wrap .e-chk-image.e-checkmark {
    color: #fff;
}

/************************Toggle Button*********************************/
.e-dataconnector-code-switcher {
    display: table;
    float: right;
    padding: 0px !important;
}

.e-dataconnector-switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 21px;
    margin: 0px;
}

.e-dataconnector-switch input {
    display: none;
}

.e-dataconnector-slider {
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.e-dataconnector-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 4px;
    bottom: 3.5px;
    -webkit-transition: .4s;
    transition: .4s;
}

input:focus + .e-dataconnector-slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .e-dataconnector-slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    -moz-transform: translateX(13px);
    -o-transform: translateX(13px);
    transform: translateX(13px);
}

/************************Rounded sliders*******************************/
.e-dataconnector-slider.round {
    border-radius: 34px;
}

.e-dataconnector-slider.round:before {
        border-radius: 50%;
}

/************************Expand/Collapse*********************************/
.e-dataconnector-expandcollapse-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.e-dataconnector-category-collapse {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.e-dataconnector-category-expand {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.e-datatileconfiguration .e-con-selection-text {
    white-space: nowrap;
}
