<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="ReportingExtensions" type="BoldReports.Configuration.Extensions, BoldReports.Web" allowLocation="true" allowDefinition="Everywhere" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <add key="AppDataPath" value="\report server\reportservice\App_Data\" />
    <add key="SystemConfigurationPath" value="\report server\Configuration\" />
    <add key="log4net.Config" value="\report server\reportservice\logs\Log4Net.config" />
    <add key="UseProxyServer" value="false" />
    <add key="HostName" value="" />
    <add key="Schema" value="" />
    <add key="Port" value="" />
    <add key="PrivateKeysPath" value="\IDP\App_Data\Configuration\" />
    <add key="JQueryCdnLink" value="" />
    <add key="ViewerCdnLink" value="" />
    <add key="IsAzureApplication" value="true" />
    <add key="ShapePath" value="\bin\ShapeData\" />
  </appSettings>
  <ReportingExtensions configSource="bin\ReportExtension.config" />
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add physicalMemoryLimitPercentage="20" name="default" pollingInterval="00:15:00" />
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <system.web>
    <machineKey validationKey="74188378B2300834FFE79989ACCA7A1241D6956FA0572C74723017D5E3C5F0A67B2D82C1422344D42FD2DEAB3EF299904E4CA61681CADF20EAFB85BE60D0E954" decryptionKey="348C7A1456C68FF59EC723896B0D40E6D6D43C1C80F45258" validation="SHA1" />
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" />
    <authentication mode="Forms">
      <forms enableCrossAppRedirects="true" cookieless="AutoDetect" protection="All" name="bold_identity" slidingExpiration="true" />
    </authentication>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>