/*------------------------------Button Start-----------------------------*/
.e-qrydesigner-addbtn .e-icon {
    padding: 0px !important;
}

.e-qrydesigner-cancelbtn:active {
    background: #cccccc !important;
    border-color: #b3b3b3 !important;
    color: #333333 !important;
}
/*------------------------------Button End-------------------------------*/