<?xml version="1.0" encoding="utf-8"?>
<SystemSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <CopyrightInformation>Copyright &amp;copy; 2001 - $$CurrentYear$$ Syncfusion Inc.   |   All Rights Reserved.</CopyrightInformation>
  <IsEnableCopyrightInfo>true</IsEnableCopyrightInfo>
  <IsEnablePoweredBySyncfusion>true</IsEnablePoweredBySyncfusion>
  <IsShowPoweredBySyncfusion>true</IsShowPoweredBySyncfusion>
  <OrganizationName>Bold ID</OrganizationName>
  <SqlConfiguration>
  </SqlConfiguration>
  <StorageType>0</StorageType>
  <WelcomeNoteText>Welcome to Bold BI Enterprise</WelcomeNoteText>
  <TimeFormat>false</TimeFormat>
  <DRM>AA0C5reqj1El+pW6H/GgtZNanbTS9g83EVo3lO9/3rWDIZPErTYNb1OZnB81sv5luBXdoSNmQP/DdQ1RCAqu4XDSjs5azq7Pw3bBeTIsqFUSNKzR6gPqSgurcwPABDgxIZUYmE4WO7uDt98Vne6bc9y2or9zGXv3mih60dw224ujWwETi23ZPkVICSKH+VsSs3Ht/S6fjB6bj6UAP8G0PjFdNUKthvUk3Ab87v25O7+NYujQm4Plvph7fNGmgumc3aKZbTg9jhde7LB+Z5ldoI07eaAB2r5s7uuBiom3GH4iKTELp5bYG2R9zj5avHmmUyMkhy+89wHWMs4I0qXZK3v+XE3VhBT1/zS4K2S3nxhxrp3NIxnrltxYtoMxTqC6dgXuDEQp6fsLP4nikJx+26iNYvK57uh1WU4ipEcfy4S50k/lywNltb9V0k3DE3Ai8frce0Yyi1eqd4oX3mSFOOBBv4BrCYVZEj77X/3OGgWtglqu2clh/1fbMo3GPBxllhOdNSzigz919p2xjCegnQvr0bVgyxZaYOpTXFSi9D3eiNJAObdjuXl1RrtYiCYQhzZZhjXP6pNUVS4OmyF9myxU6ndSO54eVkiQaHmHyLH2Mw3uQK9URnUKRj9zot4Cye5nQ2y8l4RhGJ1va7lXHTMMNi7lVA3KpO5LLVh/7rrY0yxHMGCXLcPd3GScxSHus3Nq1yaBzqPykFyWX8S7bN7c8FfNEAbf6HWSHKCdHHeSy5Hp2JUy0aG29CkBUbMeYjmcMFJq/hTGUIMErJaGkQ==</DRM>
  <IsCustomBinding>false</IsCustomBinding>
  <InternalAppBIUrl>
  </InternalAppBIUrl>
  <InternalAppReportUrl>
  </InternalAppReportUrl>
  <InternalAppClientId>05b03270-f13f-4c54-b19e-c621a585fdcd</InternalAppClientId>
  <InternalAppClientSecret>NrKRV+9nX1zooKe6b3KpOi7DiXRi2yA6vg68z7zPV7WvVrxYp87lkAvYO+8mO/Izj997e/TQpuShNv6indnZ3A==</InternalAppClientSecret>
  <PreviewFeatures>
    <Localization>false</Localization>
  </PreviewFeatures>
</SystemSettings>